.container {
	background-color: orange;
}

.alex {
	font-size: 90px;
	background-color: pink;
}

.ben {
	font-size: 30px;
	background-color: green;
	vertical-align: middle;
}

.chris {
	font-size: 60px;
	background-color: yellow;

}