@font-face {
	src: url("../fonts/BMJUA_otf.otf");
	font-family: Jua;
}
* {
	box-sizing: border-box;
}

body {
	background-color: #f0e8d9
}

h1 {
	text-align: center;
	font-size: 64px;
	color: #58595b;
	margin-top: 75px;
	margin-bottom: 30px;
	font-family: "Jua";
}
h2 {
	text-align: center;
	font-size: 32px;
	color: #58595b;
	margin-bottom: 75px;
	font-family: "Jua";
}

.food {
	background-color: white;
	width: 300px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 10px;
	overflow: hidden;
}

/*.food img {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}*/

.food .info {
	padding: 20px;
	text-align: center;
}

.food h3 {
	color: #58595b;
	font-size: 32px;
	font-family: "Jua";
	margin-top: 0;
	margin-bottom: 20px;
}

.food p {
	color: #58595b;
	font-size: 16px;
	font-family: "Jua";
	margin-top: 0;
	margin-bottom: 16px;
	text-align: left;
}

.food a {
	color: #58595b;
	font-size: 16px;
	font-family: "Jua";
	text-decoration: none;
}