h1 {
	border: 5px solid red;
	width: 500px;
	height: 300px;
}

.p1 {
	border: 5px solid red;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: 50px;
	padding: 50px;
	margin: 80px 30px 75px 50px;
}

.p2 {
	border: 5px solid red;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 50px;
	padding-left: 50px;
}